# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_RO_USER_PASSWORD=

# Redis
REDIS_URL=

# FastAPI
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

# OpenAI
OPENAI_API_KEY=

# Key
ENCRYPTION_KEY= - ключ для шифрования данных, например: 12345678901234567890123456789012

# Telegram MTProto
TELEGRAM_SESSION=mtproto_session - это оставить так